apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-nginx-conf
  namespace: apps
data:
  default.conf: |
    server {
        listen       80;
        server_name  localhost;
        root   /usr/share/nginx/html;
        index  index.html;

        location ~* \.(js|css|png|jpg|jpeg|gif|ico|svg)$ {
            try_files $uri =404;
        }

        # SPA 라우팅
        location / {
            try_files $uri $uri/ /index.html;
        }

        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   /usr/share/nginx/html;
        }
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: foundry-frontend
  namespace: apps
  labels:
    app: foundry-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: foundry-frontend
  template:
    metadata:
      labels:
        app: foundry-frontend
    spec:
      nodeSelector:
        role: apps
      containers:
      - name: frontend
        image: parkheejun/foundry-frontend:v1.0-202602041205
        ports:
        - containerPort: 80
        volumeMounts:
        - name: nginx-conf
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: default.conf
      volumes:
      - name: nginx-conf
        configMap:
          name: frontend-nginx-conf
---
apiVersion: v1
kind: Service
metadata:
  name: foundry-frontend-svc
  namespace: apps
spec:
  selector:
    app: foundry-frontend
  ports:
    - port: 80
      targetPort: 80